p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: pink;
}
ul{
    background-color: aquamarine;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    font-weight: bold;
}